*.o
.DS_Store
.*.swp
/bin
/lm4tools
/tiva-template
/openocd
/tivaware/IQmath
/tivaware/windows_drivers
/tivaware/examples
/tivaware/cc3100-sdk
/tivaware/SW-TM4C-2.1.4.178.exe
/tivaware/
/gcc-arm-none-eabi-5_4-2016q3
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
